body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.sheesh-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    font-size: xx-large;
}

.sheesh-line {
    transform: translateX(-100%);
    white-space: nowrap;
    opacity: 0;
    animation: slide-in 10s ease-in-out forwards;
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}